[*]
trim_trailing_whitespace = true
insert_final_newline = true

[*.js]
indent_style = space
indent_size = 2

[*.mjs]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[*.tf]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2
