[Service]
ExecStart=/usr/bin/node /var/www/midnabot/index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=midnabot
User=midnabot
Group=midnabot
EnvironmentFile=/var/www/midnabot/.env

[Install]
WantedBy=multi-user.target

