[Service]
ExecStart=/usr/bin/node /var/www/midna/index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=midna
User=midna
Group=midna
EnvironmentFile=/var/www/midna/.env

[Install]
WantedBy=multi-user.target
